<!-- NOT ANY x-jquery-tmpl VARIABLES YET -->
<script id="message_pane" type="text/x-jquery-tmpl">
	<div class="chat_console" style="border: 1px solid black;height: 180px;overflow: scroll;overflow-x: hidden;"></div>
	<textarea class="message_box" cols="40" rows="2" maxlength="80" style="resize: none;"></textarea>
	<button class="send_button">send</button>
</script>

