// center the contents
.center(@total-width) {
  width: 0px + @total-width;
  margin: 0 auto;
  overflow: hidden;
}

.centerfluid() {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.box(@size) {
  width: @size;
  height: @size;
}

.left_triangle(@side: 50px, @color: orange) {
  @itsSide: @side * 1px;
  width: 0;
  height: 0;
  border-right: (@itsSide * 2) solid @color;
  border-top: @itsSide solid transparent;
  border-bottom: @itsSide solid transparent;
}

.up_triangle(@side: 60px, @color: green) {
  @itsSide: @side * 1px;
  width: 0;
  height: 0;
  border-bottom: (@itsSide * 2) solid @color;
  border-left: @itsSide solid transparent;
  border-right: @itsSide solid transparent;
}

.vertical_align(@height) { //remember to define with "px" postfix, also its wrapper must be "position relative"
  height: @height;
  position: absolute;
  top: 50%;
  margin-top: - (@height / 2);
}