@import 'libs/grid.less';

@column-width: 430;
@gutter-width: 20;
@columns: 1;

@import 'libs/mixins.less';

div.centered {
  .center(@total-width);
}

div#dooz_name {
  font-size: 96px;
  font-weight: bold;
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: center;
}

div#slogan {
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}