div#dooz_name {
  font-size: 46px;
  font-weight: bold;
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: center;
  display: inline-block;
}

img#logo {
  display: inline-block;
}

div#canvas_container {
  padding-top: 25px;
}