.xml_punc {
  color: #888;
}

.xml_tag {
  color: #e77;
}

.xml_aname {
  color: #55d;
}

.xml_avalue {
  color: #77f;
}

.xml_text {
  color: #aaa
}

.xml_level(@pad_left: 0) {
  padding-left: 0em+ @pad_left;
}

.xml_level0 { .xml_level();
}

.xml_level1 { .xml_level(1);
}

.xml_level2 { .xml_level(2);
}

.xml_level3 { .xml_level(3);
}

.xml_level4 { .xml_level(4);
}

.xml_level5 { .xml_level(5);
}

.xml_level6 { .xml_level(6);
}

.xml_level7 { .xml_level(7);
}

.xml_level8 { .xml_level(8);
}

.xml_level9 { .xml_level(9);
}

#peek_console {
  border: 1px solid black;
  height: 400px;
  overflow: scroll;
}