@(hybridForm: Form[(String, String, String)])(stylesheets: List[String] = List.empty)
@import com.sun.org.apache.bcel.internal.generic.GETFIELD

@mainlayout(stylesheets) {
	<div class="centered">
	<img src=" @routes.Assets.at("images/logo.png") "/>
		<div id="dooz_name">Dooz</div>
	</div>
	<hr/>
	<div id="slogan">
		Talking with someone through Dooz can be more social than chatting online
	</div>
	<hr/>
	<!--
	<div class="centered" style="padding-top: 25px;">
		<i>registrations open soon</i>
	</div>
    -->
	<div class="centered" style="padding-top: 25px;">
		@* den fainetai na mporo na allakso to method tou form*@
		@helper.form(routes.Application.hybridSubmitted(), 'id -> "hybridForm") {
			@helper.inputText(hybridForm("nickname"))
			@helper.inputText(hybridForm("email"))
			@helper.inputPassword(hybridForm("password"),
				'_help -> "leave password empty for registration request"
			)

			<input type="submit" value="Login / Register"/>
		}
	</div>
}