@(user: String, pass: String, dimensionId: Int, isAdmin: Boolean)(stylesheets: List[String] = List.empty, javascripts: List[String] = List.empty)

@* kalei ena apo ta dyo layouts*@
@curlayout() = @{
	if(isAdmin) row2.apply _ else mainlayout.apply _;
}

@curlayout()(stylesheets, javascripts) {
	@{
		import views.html.jqueryTemplates._;
		List(
			rosterUser(),
			messagePane()
		);
	}

	<img id="logo" width="150" src=" @routes.Assets.at("images/logo.png") "/>
	<div id="dooz_name">Dooz</div>
	<hr/>

	<div id="canvas_container"></div>
<!--
	<a id="test1" href="#">connect nodes</a> |
	<a id="test2" href="#">shuffle nodes</a> |
	<a id="test3" href="#">remove beautiful</a> |
	<a id="test4" href="#">message panes length</a> |
	<a id="test6">random springs</a> |
	<a id="test7">how many?</a> |
	<a id="test8" href="#" title="my title">tooltip</a> |

	<div id="chatroom" style="background-color: lightgrey;">aaa</div>
-->
	<ul id="room_roster"></ul>

	<div id="message_panes"></div>

	<script type="text/javascript">
	var dimensionAttributes ={
	    id: @dimensionId,
	    roomName: "first.and.only.room"
    };
    var user = '@user';
    var pass = '@pass';
	var xmppDomain = '@{
	    import play.api.Play.current;
	    current.configuration.getString("xmpp.domain");
    }';
    </script>

    @javascript("interact")
}