@(stylesheets: List[String] = List.empty, javascripts: List[String] = List.empty)(content: Html)

@mainlayout(stylesheets,javascripts) {
	<div id="content">
	@content
	</div>
	<div id="bottombar">
	<hr/>
		<div id="peek_dialog">
			<div id="peek_console">
			</div>
			<label for="peek_input"></label>
			<textarea id="peek_input" disabled="true" rows="5" cols="80"></textarea>
			<div id="buttonbar">
				<input id="send_button" disabled="true" type="submit" value="Send Data">
			</div>
		</div>

		@javascript("peek_dialog")

		<a id="peek_link" onclick="$('#peek_dialog').dialog('open');return false;" href="#">peek</a>
	</div>
}