@(stylesheets: List[String] = List.empty, javascripts: List[String] = List.empty)

@myfunc(str: String) = {
	<span>pare to @str</span>
}

@mainlayout(stylesheets, javascripts) {
	<span>gamiesai re</span>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<div>ante geia</div>
	<div id="the_black_box" style="border: 1px solid black; width: 640px; height: 480px;">
		black box black box black box black box black box black box black box black box black box black box <br/>
		black box <br/>
		black box <br/>
		black box <br/>
		black box <br/>
		black box <br/>
		black box <br/>
		black box <br/>
		black box <br/>
		black box <br/>
		black box <br/>
		black box <br/>
		black box <br/>
		black box <br/>
		black box <br/>
		black box
	</div>
	@javascript("testing")

	@{
		import views.html.jqueryTemplates._;
		rosterUser();
	}
}
